@import url("root.css");

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("../arts/background1.jpg") no-repeat center center / 100% 100vh;
}

.Adminpage-Navigation {
  position: fixed;
  width: clamp(330px, 20%, 370px);
  height: 100vh;
  background: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  z-index: 2;
}

.Navigation-Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding: 1rem;
  border-bottom: 1px solid darkblue;
}

.Navigation-Header img {
  width: 100px;
  height: 100px;
}

.Navigation-Header p {
  font-size: 1.1rem;
  font-family: var(--Montserrat);
  font-weight: bold;
  color: var(--white);
}

.Navigation-Header h4 {
  font-size: 1.2rem;
  font-family: var(--Montserrat);
  font-weight: 800;
  color: var(--white);
}

.Navigation-Menu-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Navigation-Menu {
  width: 100%;
  font-size: 1rem;
  font-family: var(--Montserrat);
  font-weight: bold;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border: none;
  background: var(--green);
  outline: transparent;
  padding: 1rem;
  cursor: pointer;
}

#Logout-Button {
  margin: auto 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background: var(--lightgreen);
}

#Logout-Button:active {
  background: var(--green);
}

.Navigation-Menu:active {
  background: var(--lightgreen);
}

.Navigation-Menu-Selected {
  background: var(--lightgreen);
}

.Navigation-Menu-Icon {
  width: 35px;
  height: 35px;
}

.Adminpage-Dashboard-Section,
.Adminpage-Admin-Section,
.Adminpage-Patient-Section {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
  margin-left: clamp(330px, 20%, 370px);
}

.Section-Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Section-Header h1 {
  font-size: 2rem;
  font-family: var(--Montserrat);
  font-weight: bold;
  color: var(--white);
}

.Section-Header p {
  font-size: 1rem;
  font-family: var(--Montserrat);
  font-weight: normal;
  color: var(--white);
}

.System-Count-Summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.Count-Summary {
  width: 300px;
  height: 100px;
  background: var(--green);
  border-radius: 1rem;
  padding: 1rem;
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Count-Summary p,
.Count-Summary h2 {
  font-family: var(--Montserrat);
  color: var(--white);
}

.Count-Summary p {
  font-size: 1rem;
  font-weight: 600;
}

.Count-Summary h2 {
  font-size: 2rem;
  font-weight: bold;
}

.Popover-Backdrop-Container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.Admin-Add-Form,
.Admin-Edit-Form {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--green);
}

.Admin-Add-Form header,
.Admin-Edit-Form header {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Admin-Add-Form header h2,
.Admin-Edit-Form header h2 {
  font-size: 2rem;
  font-family: var(--Montserrat);
  font-weight: bold;
}

.Admin-Add-Form,
.Admin-Edit-Form {
  height: 500px;
}

.Admin-Input-Container-Group,
.Patient-Input-Container-Group {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.Input-Container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Input-Container label,
.Input-Container input,
.Input-Container select,
.Form-Navigation button {
  font-size: 1rem;
  font-family: var(--Montserrat);
}

.Input-Container label {
  font-weight: 600;
}

.Input-Container input,
.Input-Container select {
  width: 210px;
}

#Admin-Edit-AccountNo,
#Patient-Edit-RecordNo {
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #d0d0d0;
  cursor: not-allowed;
  outline: none;
}

.Form-Navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Form-Navigation button {
  width: 40%;
  height: 35px;
  border: none;
  outline: none;
  background: var(--lightgreen);
  border-radius: 1rem;
  font-weight: bold;
  color: var(--white);
}

.Form-Navigation button:active {
  background: var(--green);
}

.Patient-Add-Form,
.Patient-Edit-Form {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Patient-Information {
  width: 40%;
  height: 90%;
  border-radius: 2rem;
  background: var(--green);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Patient-Information header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 50px;
}

.Patient-Information header img {
  height: 100%;
}

.Patient-Information header h5 {
  font-size: 2rem;
  font-family: var(--Montserrat);
  font-weight: var(--h1-font-weight);
  color: var(--white);
}

.Patients-Information-Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Patient-Image {
  width: 220px;
  height: 220px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: gray;
  font-weight: 500;
}

.Patient-Image input {
  display: none;
}

.Patient-Image:hover {
  background-color: #f0f0f0;
}

.Patients-Information-Container aside {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.Patient-Input-Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Patient-Input-Container label,
.Patient-Illness-Container h3,
.Patient-Illness,
.Patient-Form-Navigation button,
.Contact-Section h5,
.Contact-Input-Container label,
.Contact-Input-Container input,
.Height-Section header h5,
.Weight-Section header h5,
.Patient-Height,
.Patient-Weight,
.Patient-Prescription-Container header h5 {
  font-family: var(--Montserrat);
  color: var(--white);
}

.Patient-Input-Container label {
  font-size: 1rem;
  font-weight: bold;
}

.Patient-Input-Container input,
.Patient-Input-Container select {
  border-radius: 1rem;
  outline: none;
  border: none;
  padding: 0 0.4rem;
  width: 170px;
}

.Patient-Illness-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 2rem 0;
  border-radius: 2rem;
  background: var(--lightgreen);
}

.Patient-Illness-Container h3 {
  font-size: 1.3rem;
  font-weight: var(--h1-font-weight);
}

.Patient-Illness-Input-Container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.Patient-Illness {
  width: 70%;
  height: 35px;
  border-radius: 2rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}

.Patient-Illness-Date {
  width: 30%;
  border-radius: 2rem;
  border: none;
  outline: none;
  padding: 0 1rem;
}

.Patient-Form-Navigation {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Patient-Form-Navigation button {
  width: 100%;
  height: 35px;
  outline: transparent;
  border: none;
  font-size: 1rem;
  font-weight: var(--h1-font-weight);
  background-color: brown;
  border-radius: 1rem;
}

.Patient-Form-Navigation button:active {
  background-color: green;
}

.Patient-Contacts-Section {
  width: 15%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Contact-Section {
  width: 100%;
  height: 260px;
  border-radius: 2rem;
  background: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Contact-Section h5 {
  font-size: 2rem;
  font-weight: var(--h1-font-weight);
}

.Contact-Input-Container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Contact-Input-Container label {
  font-size: 1rem;
  font-weight: var(--h1-font-weight);
}

.Contact-Input-Container input {
  width: 100%;
  height: 20px;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.Height-Section {
  width: 100%;
  height: 200px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--green);
}

.Height-Section header,
.Weight-Section header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Height-Section header img,
.Weight-Section header img {
  height: 100%;
}

.Height-Section header h5,
.Weight-Section header h5,
.Patient-Height,
.Patient-Weight {
  font-size: 2rem;
  font-weight: var(--h1-font-weight);
}

.Patient-Height,
.Patient-Weight {
  width: 90%;
  text-align: center;
  color: black;
  border: none;
  outline: none;
  padding: 0 0.5rem;
  border-radius: 2rem;
}

.Weight-Section {
  width: 100%;
  height: 200px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--green);
}

.Patient-Prescription {
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.Patient-Prescription-Container {
  width: 100%;
  height: 75%;
  background: var(--green);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Patient-Prescription-Container header {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Patient-Prescription-Container header h5 {
  font-size: 2rem;
  font-weight: var(--h1-font-weight);
}

.Patient-Prescription-Input {
  width: 80%;
  height: 50px;
  border-radius: 2rem;
  border: none;
  outline: transparent;
  font-size: 1rem;
  padding: 0 1rem;
}

.Record-Container,
.Record-Container header,
.Search-Container,
.Admin-Record-Table-Container,
.Admin-Table-Data-Header tr,
.Admin-Table-Data-Header tr th,
.Admin-Record-Table tr,
.Admin-Record-Table tr td,
.Patient-Record-Table-Container,
.Patient-Table-Data-Header tr,
.Patient-Table-Data-Header tr th,
.Patient-Record-Table tr,
.Patient-Record-Table tr td {
  display: flex;
  align-items: center;
}

.Record-Container {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  background: var(--green);
  border-radius: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: auto;
}

.Record-Container header {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.Search-Container {
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.Search-Container input {
  width: 260px;
  height: 35px;
  border: 1px solid gray;
  outline: none;
  border-radius: 1rem;
  padding: 0 1rem;
}

.Search-Container input:focus {
  border: 1px solid blue;
}

.Search-Container button {
  width: fit-content;
  height: 25px;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: var(--lightgreen);
  font-size: 1rem;
  font-family: var(--Montserrat);
  font-weight: 600;
  cursor: pointer;
  padding: 0 0.5rem;
}

.Search-Container button:active {
  background: var(--green);
}

.Admin-Section-Date-Time p,
.Patient-Section-Date-Time p {
  font-size: 1rem;
  font-family: var(--Montserrat);
  font-weight: bold;
  color: red;
}

.Admin-Record-Table-Container,
.Patient-Record-Table-Container {
  width: 100%;
  height: 90%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Admin-Table-Data-Header,
.Patient-Table-Data-Header {
  width: 100%;
  height: 35px;
  padding-right: 5px;
}

.Admin-Table-Data-Header tr,
.Patient-Table-Data-Header tr {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.Admin-Table-Data-Header tr th,
.Patient-Table-Data-Header tr th {
  height: 35px;
  font-family: var(--Montserrat);
  font-weight: bolder;
  flex-direction: row;
  justify-content: center;
  border: 1px solid gray;
  background: var(--lightgreen);
}

.Admin-Table-Data-Header tr th {
  width: 14.28%;
  font-size: 1rem;
}

.Admin-Table-Data-Container,
.Patient-Table-Data-Container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Admin-Table-Data-Container::-webkit-scrollbar,
.Patient-Table-Data-Container::-webkit-scrollbar {
  width: 5px;
}

.Admin-Table-Data-Container::-webkit-scrollbar-thumb .Patient-Table-Data-Container::-webkit-scrollbar-thumb {
  background-color: var(--lightgreen);
}

.Admin-Table-Data-Container::-webkit-scrollbar-track,
.Patient-Table-Data-Container::-webkit-scrollbar-track {
  background: var(--green);
}

.Admin-Record-Table,
.Patient-Record-Table {
  width: 100%;
  height: 100%;
}

.Admin-Record-Table tr,
.Patient-Record-Table tr {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.Admin-Record-Table tr td,
.Patient-Record-Table tr td {
  height: 35px;
  font-family: var(--Montserrat);
  font-weight: 500;
  flex-direction: row;
  justify-content: center;
  border: 1px solid gray;
  overflow: hidden;
}

.Admin-Record-Table tr td {
  width: 14.28%;
  font-size: 1rem;
}

.Admin-Table-Data-Header tr th:nth-child(1),
.Admin-Record-Table tr td:nth-child(1) {
  width: 11%;
}

.Admin-Table-Data-Header tr th:nth-child(2),
.Admin-Record-Table tr td:nth-child(2) {
  width: 20%;
}

.Admin-Table-Data-Header tr th:nth-child(3),
.Admin-Record-Table tr td:nth-child(3) {
  width: 17%;
}

.Admin-Table-Data-Header tr th:nth-child(4),
.Admin-Record-Table tr td:nth-child(4) {
  width: 22%;
}

.Admin-Table-Data-Header tr th:nth-child(5),
.Admin-Record-Table tr td:nth-child(5) {
  width: 10%;
}

.Admin-Table-Data-Header tr th:nth-child(6) {
  width: 20%;
}

.Admin-Record-Table tr td:nth-child(6),
.Admin-Record-Table tr td:nth-child(7) {
  width: 10%;
}

.Admin-Record-Table tr td button,
.Patient-Record-Table tr td button {
  width: 50%;
  font-size: 1rem;
  font-family: var(--Montserrat);
  font-weight: bold;
  border: none;
  outline: none;
  background: var(--lightgreen);
}

.Admin-Record-Table tr td button:active,
.Patient-Record-Table tr td button:active {
  background: var(--green);
}

.Patient-Table-Data-Header tr th {
  width: 7%;
  font-size: 0.7rem;
}

.Patient-Table-Data-Header tr th:last-child {
  width: 14%;
}

.Patient-Record-Table tr td {
  width: 7%;
  font-size: 0.7rem;
}

.hidden-data {
  display: none;
}
